.gallery__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: auto;
    align-items: center;
    background-color: rgb(66, 65, 65);
    border: solid 1px gray;
    border-radius: 5px;
    gap: 10px;
}

.gallery__image {
    display: flex;
    height: 20%;
    width: auto;
}

.gallery__list {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 500px;
    justify-content: flex-start;
    align-items: start;
    background-color:rgba(66, 65, 65, 0.5);
    border-top: solid 1px rgb(88, 88, 88);
    border-right: solid 1px rgb(88, 88, 88);
    padding: 10px;
}

.gallery__list__item {
    width: 100%;
    margin: 0;
    padding-bottom: 5px;
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    font-size: 12px;
    color: #FFFFFF;
    
}

.library {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 500px;
}

.gallery__images__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    height: 90%;
    gap: 20px;
    flex-wrap: wrap;

}

.list__header {
    margin-bottom: 0;
    font-size: 10px;;
}

.gallery__list__item--title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.gallery__header {
    display: flex;
    color: #FFFFFF;
}

#appPhotos:hover {
    cursor: pointer;
}
