#exit {
    background-color: #FF5F57;
    float: right;
    border: solid 1px #FF5F57;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    font-weight: bold;
    padding: 6px;
    border: none;
}

#exit:hover,
#exit:focus {
    text-decoration: none;
    cursor: pointer;
}
