.note__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: solid 1px gray;
    border-radius: 5px;

}

.note__list {
    display: flex;
    flex-direction: column;
    width:200px;
    height: 500px;
    justify-content: flex-start;
    align-items: start;
    background-color: #FFFFFF;
    border-top: solid 1px #dad9d9;
    border-right: solid 1px #dad9d9;
    padding: 5px;
}

.note__list__item {
    width: 90%;
    margin:0;
    padding-bottom: 5px;
    border-bottom: solid 1px #dad9d9;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    padding-left: 0;
    font-size: 12px;
    font-weight: bold;
}

.note__text {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.note__header {
    display: flex;
    height:10%;
    width:auto;
}
.note__input {
    display: flex;
    width:auto;
    height: 90%;
    resize: none;
    border: none;
    overflow: scroll;
}

#appNotes:hover {
    cursor: pointer;
}
