#exit:hover,
#exit:focus {
  text-decoration: none;
  cursor: pointer;
}

.bin__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  height: 340px;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  border: solid 1px gray;
  border-radius: 5px;
}

.bin__files {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: solid 1px #dad9d9;
  height: 100%;
}

#binList {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
}

.bin__list__item {
  width: 90%;
  margin: 0;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 0;
  font-size: 12px;
  font-weight: bold;
}

.bin__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  align-items: center;
  border-bottom: solid 1px #dad9d9;
}

.header__text {
  margin: 0;
}

.exit__button {
  margin-left: 5px;
}

#exitButton {
  background-color: #ff5f57;
  float: right;
  border: solid 1px #ff5f57;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  font-weight: bold;
  padding: 6px;
  border: none;
}

.empty__button {
  margin: 5px;
  display: flex;
  align-items: center;
}

#empty {
  border: solid 1px;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  font-size: 12px;
  text-align: center;
}
#empty:hover {
  cursor: pointer;
}

#appBin:hover {
  cursor: pointer;
}

.bin__list__item--icon:hover {
  cursor: pointer;
}

.gallery__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: auto;
  align-items: center;
  background-color: rgb(66, 65, 65);
  border: solid 1px gray;
  border-radius: 5px;
  gap: 10px;
}

.gallery__image {
  display: flex;
  height: 20%;
  width: auto;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 500px;
  justify-content: flex-start;
  align-items: start;
  background-color: rgba(66, 65, 65, 0.5);
  border-top: solid 1px rgb(88, 88, 88);
  border-right: solid 1px rgb(88, 88, 88);
  padding: 10px;
}

.gallery__list__item {
  width: 100%;
  margin: 0;
  padding-bottom: 5px;
  background-color: rgb(88, 88, 88);
  border-radius: 5px;
  display: flex;
  text-decoration: none;
  padding-left: 10px;
  font-size: 12px;
  color: #ffffff;
}

.library {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  height: 500px;
}

.gallery__images__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: auto;
  height: 90%;
  gap: 20px;
  flex-wrap: wrap;
}

.list__header {
  margin-bottom: 0;
  font-size: 10px;
}

.gallery__list__item--title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.gallery__header {
  display: flex;
  color: #ffffff;
}

#galleryExit {
  background-color: #ff5f57;
  float: right;
  border: solid 1px #ff5f57;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  font-weight: bold;
  padding: 6px;
  border: none;
}

#appPhotos:hover {
  cursor: pointer;
}

.note__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: auto;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: solid 1px gray;
  border-radius: 5px;
}

.note__list {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 500px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  border-top: solid 1px #dad9d9;
  border-right: solid 1px #dad9d9;
  padding: 5px;
}

.note__list__item {
  width: 100%;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: solid 1px #dad9d9;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  text-decoration: none;
  padding-left: 0;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}

.note__text {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.note__header {
  display: flex;
  height: 10%;
  margin-left: 10px;
  width: auto;
}

.note__input {
  display: flex;
  width: auto;
  height: 90%;
  resize: none;
  border: none;
  overflow: scroll;
}

#NoteModalClose {
  background-color: #ff5f57;
  float: right;
  border: solid 1px #ff5f57;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  font-weight: bold;
  padding: 6px;
  border: none;
}

#appNotes:hover {
  cursor: pointer;
}

#apple__menu {
  display: none;
  position: fixed;
  top: 25px;
  margin-left: 10px;
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.5803921569);
  width: 10%;
  border: solid 1px rgba(196, 196, 196, 0.6784313725);
  border-radius: 3px;
}

.apple__menu__item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 3px 0px 3px 5px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5803921569);
  border: none;
  gap: 5px;
}
.apple__menu__item:hover {
  background-color: rgb(40, 98, 255);
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.apple__menu--dividers {
  border-bottom: solid 2px rgba(255, 255, 255, 0.2039215686);
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url("./images/sonomaHorizens.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  display: flex;
  z-index: 2;
  background-color: #fdfdfd;
  justify-content: space-between;
}
header .navBar__container {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
  margin: 0px 10px 0px 10px;
  gap: 5px;
}
header .navBar__button,
header .navBar__button__application {
  display: flex;
  border: none;
  background-color: #fdfdfd;
  font-size: small;
}
header .navBar__button__icon {
  height: 20px;
  width: 20px;
}
header .navBar__button__application {
  font-weight: bold;
}
header .navBar__button:focus,
header .navBar__button__application:focus {
  background-color: #b3b3b3;
}

#navBarDate,
#navBarTime {
  display: flex;
  font-size: small;
  padding: 0;
  margin: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
  height: auto;
}

footer {
  margin-top: auto;
  z-index: 2;
  display: flex;
  backdrop-filter: blur(12px);
  box-shadow: 2px 2px 4px;
  background-color: color-mix(in srgb, #1a1a1a 46%, #f6f6f6 36%);
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: space-between;
}

.dock__container,
.dock__container__seperator {
  mix-blend-mode: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 10px;
  margin: 0px 5px 0px 5px;
}
.dock__container__seperator {
  margin: 5px 0px 5px 0px;
  border-left: solid 1px #1a1a1a;
  border-radius: 1px;
  height: 42px;
}
.dock__container img,
.dock__container__seperator img {
  height: 52px;
  width: 52px;
  margin: 0;
}

#img__sizing {
  height: 46px;
  width: 46px;
}
