* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url("/images/sonomaHorizens.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  display: flex;
  background-color: #fdfdfd;
  justify-content: space-between;
}
header .navBar__container {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
  margin: 0px 10px 0px 10px;
  gap: 5px;
}
header .navBar__button, header .navBar__button__application {
  display: flex;
  border: none;
  background-color: #fdfdfd;
  font-size: small;
}
header .navBar__button__icon {
  height: 20px;
  width: 20px;
}
header .navBar__button__application {
  font-weight: bold;
}
header .navBar__button:focus, header .navBar__button__application:focus {
  background-color: #b3b3b3;
}

#date {
  display: flex;
  font-size: small;
  padding: 0;
  margin: auto;
}

#time {
  display: flex;
  font-size: small;
  padding: 0;
  margin: auto;
}

footer {
  margin-top: auto;
  display: flex;
  backdrop-filter: blur(12px);
  box-shadow: 2px 2px 4px;
  background-color: color-mix(in srgb, #1A1A1A 46%, #F6F6F6 36%);
  border-radius: 15px;
  position: sticky;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: space-between;
}

.dock__container, .dock__container__seperator {
  mix-blend-mode: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 10px;
  margin: 0px 5px 0px 5px;
}
.dock__container__seperator {
  margin: 5px 0px 5px 0px;
  border-left: solid 1px #1A1A1A;
  border-radius: 1px;
  height: 42px;
}
.dock__container img, .dock__container__seperator img {
  height: 52px;
  width: 52px;
  margin: 0;
}

#img__sizing {
  height: 46px;
  width: 46px;
}
